body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000535;
    color: whitesmoke;
    background-image: url(img/img-noise.png);
}

#game-table {
    box-shadow: 0px 0px 20vw 16vw rgba(0, 0, 6, 0.87);
}


.fa-vw {
    font-size: 1vw;
}

.green-glow {
    text-shadow: 0px 0px 1vw rgba(13,244,60,0), 0px 0px 1vw #0DF43C;
}

.grid-image{
    height: 12vw;
    max-height: 150px;
}

#game-table tr{
    font-size: 1vw;
}

.green-shadow {
    text-shadow: #FFF 0px 0px 5vw, #0F0 0px 0px 10vw;
}

.fa-shadow {
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, white 3%, green 60%, green 70%,black 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-shadow-red {
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, darkred 50%, darkred 60%, darkred 70%, black 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.fa-shadow2 {
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, #bdbdbd 3%, black 60%, green 70%,black 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alphabet {
    display: table;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    z-index: 1;
    font-size: 1vw;
}
 

.alphabet span {
    display: table-cell;
    cursor: pointer;
    text-align: center;
    width: 3.5%;
    color: darkred;
    font-weight: 700;
}
 
.alphabet span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red;
    
}

@media only screen and (max-width: 700px) {
    .alphabet {
        font-size: 2vw;
    }
}


div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: normal;
}

#game-table td{
    vertical-align: middle;
}

#game-table tr td:nth-child(2){
    padding: 0;
}

#game-table_wrapper div label:nth-child(1) {
    position: relative;
    z-index: 1;
}

.game-list-header {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

