body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000535;
    color: whitesmoke;
    background-image: url(img/img-noise.png);
}

.y-body-shadow-hide{
  /*overflow-y: hidden;*/
}

#game-table {
    box-shadow: 0px 0px 20vw 16vw rgba(0, 0, 6, 0.87);
}


.fa-vw {
    font-size: 1vw;
}

.green-glow {
    text-shadow: 0px 0px 1vw rgba(13,244,60,0), 0px 0px 1vw #0DF43C;
}

.grid-image{
    height: 12vw;
    max-height: 150px;
}

#game-table tr{
    font-size: 1vw;
}

.green-shadow {
    text-shadow: #FFF 0px 0px 5vw, #0F0 0px 0px 10vw;
}

.fa-shadow {
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, white 3%, green 60%, green 70%,black 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-shadow-red {
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, darkred 50%, darkred 60%, darkred 70%, black 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.fa-shadow2 {
    color: transparent;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, #bdbdbd 3%, black 60%, green 70%,black 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.alphabet {
    display: table;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    z-index: 1;
    font-size: 2.5vw;
}
 
.alphabet span {
    display: table-cell;
    cursor: pointer;
    text-align: center;
    width: 3.5%;
    color: darkred;
    font-weight: 700;
}
 
.alphabet span:hover {
    text-decoration: underline;
    cursor: pointer;
    color: red;
    
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 0.85em;
    white-space: normalr;
}

#game-table td{
    vertical-align: middle;
}

#game-table tr td:nth-child(2){
    padding: 0;
}

#game-table_wrapper div label:nth-child(1) {
    position: relative;
    z-index: 1;
}

.game-list-header {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.splash-screen {
    height: 100%;
    margin: 0;
    box-sizing: unset;
    padding: 0px;
}

.hero-background {
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 20%, rgba(68, 3, 84, 0.27)),  url(img/hero-background.gif);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text h2 {
    animation-delay: 0s;
    font-weight: 100;
    font-size: 8vw;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: blurIn 3s;
    -moz-animation: blurIn 3s;
    animation: blurIn 3s ease-in;
}

.hero-text {
    text-shadow: 0px 0px 0px #fff;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
}

.splash-screen-menu ul {
    font-size: 2vw;
    padding-left: 0vw;
    padding-top: 1vw;

}

.splash-screen-menu {
 
    display: inline;

    transform: translate(-50%, -50%);
}


.splash-screen-menu ul li {
    -webkit-animation-name: blurFadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 4s;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(1,.46,.46,1.5);
    display: inline-block;
    color: darkred;
    font-weight: 600;
    padding-left: 2vw;
    padding-right: 2vw;
    text-shadow: 0px 0px 100px red;
    opacity: 0;
}

.disabled-link {
    color: darkred;
    text-decoration: none;
    pointer-events: none;
}

.splash-links {
    color: darkred;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    text-decoration: none;
    pointer-events: auto;
}

    .splash-links:hover {
        color: red;
        text-decoration: none;
        cursor: pointer;
        
    }

@-webkit-keyframes blurIn {
    0% {
        transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
    }


    90% {
        transform: scale(1.05);
        opacity: 1;
        text-shadow: 0px 0px 2px #fff;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
    }
}

@-moz-keyframes blurIn {
    0% {
        transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
    }


    90% {
        transform: scale(1.05);
        opacity: 1;
        text-shadow: 0px 0px 2px #fff;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
    }
}

@-moz-keyframes blurFadeIn{
    0% {
        transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
    }


    90% {
        transform: scale(1.05);
        opacity: 1;
        text-shadow: 0px 0px 2px #fff;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
    }
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 100px red;
    }

    90% {
        text-shadow: 0px 0px 100px red;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 0px red;
    }
}

@keyframes blurFadeIn{
    0% {
        opacity: 0;
        text-shadow: 0px 0px 100px red;

    }

    100% {
        opacity: 1;
        text-shadow: 0px 0px 0px red;
    }
}

@keyframes beamIn{
    0% {
        transform: scaleY(.9);   
    }


    100% {
        transform: scaleY(1);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(164,0,0,0.54), 0 0 20px rgba(164,0,0,0.54), 0 0 20vw #e60073, 0 0 30vw #e60073, 0 0 40vw #e60073, 0 0 50vw #e60073;
    }

    to {
        text-shadow: 0 0 20px rgba(164,0,0,0.24), 0 0 30px rgba(164,0,0,0.24), 0 0 30vw #e60073, 0 0 40vw #e60073, 0 0 50vw #e60073, 0 0 70vw #e60073;
    }
}
