body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.splash-screen {
    height: 100%;
    margin: 0;
    box-sizing: unset;
    padding: 0px;
}

.hero-background {
    background-image: radial-gradient(circle, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 20%, rgba(68, 3, 84, 0.27)),  url(img/hero-background.gif);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text h2 {
    animation-delay: 0s;
    font-weight: 100;
    font-size: 8vw;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: blurIn 3s;
    -moz-animation: blurIn 3s;
    animation: blurIn 3s ease-in;
}

.hero-text {
    text-shadow: 0px 0px 0px #fff;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    text-shadow: 0px 0px 0px #fff;
}

.splash-screen-menu ul {
    font-size: 2vw;
    padding-left: 4vw;
    padding-top: 1vw;

}

.splash-screen-menu {
 
    display: inline;

    transform: translate(-50%, -50%);
}

.animate {
 
}
.splash-screen-menu ul li {
    -webkit-animation-name: blurFadeIn;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 4s;
    animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(1,.46,.46,1.5);
    display: inline-block;
    color: darkred;
    font-weight: 600;
    padding-left: 2vw;
    padding-right: 2vw;
    text-shadow: 0px 0px 100px red;
    opacity: 0;
}

.disabled-link {
    color: darkred;
    text-decoration: none;
    pointer-events: none;
}

.splash-links {
    color: darkred;
    animation: glow;
    text-decoration: none;
    pointer-events: auto;
}

.splash-links:hover {
        color: red;
        animation: glow;
        text-decoration: none;
        cursor: pointer;
        
}

@-webkit-keyframes blurIn {
    0% {
        transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
    }


    90% {
        transform: scale(1.05);
        opacity: 1;
        text-shadow: 0px 0px 2px #fff;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
    }
}

@-moz-keyframes blurIn {
    0% {
        transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
    }


    90% {
        transform: scale(1.05);
        opacity: 1;
        text-shadow: 0px 0px 2px #fff;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
    }
}

@-moz-keyframes blurFadeIn{
    0% {
        transform: scale(0);
        opacity: 0;
        text-shadow: 0px 0px 100px #fff;
    }


    90% {
        transform: scale(1.05);
        opacity: 1;
        text-shadow: 0px 0px 2px #fff;
    }

    100% {
        transform: scale(1);
        opacity: 1;
        text-shadow: 0px 0px 0px #fff;
    }
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 100px red;
    }

    90% {
        text-shadow: 0px 0px 100px red;
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 0px red;
    }
}

@keyframes blurFadeIn{
    0% {
        opacity: 0;
        text-shadow: 0px 0px 100px red;

    }

    100% {
        opacity: 1;
        text-shadow: 0px 0px 0px red;r
    }
}

@keyframes beamIn{
    0% {
        transform: scaleY(.9);   
    }


    100% {
        transform: scaleY(1);
    }
}

@keyframes glow {
    0% {
        border-color: #393;
        text-shadow: 0px 0px 100px rgba(255,0,0,.2);
    }

    100% {
        border-color: #6f6;
        text-shadow: 0px 0px 1000px rgba(255,0,0,.6);

    }
}
