
@model List<FTCweb.Models.Game>

@{
    ViewBag.Title = "Games";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>



<table id="game-table" class="table-dark table table-bordered table-hover dt-responsive bootstrap-table" style="width: 100%">
    <thead style="width: 100%">
        <tr>
            <th>Completed</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Time</th>
            <th>Video</th>
        </tr>
    </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
</table>


@section scripts{

    <script>
        $(document).ready(function () {
            $("#game-table").DataTable({
                order: [[1, 'asc']],
                ajax: {
                    type: "GET",
                    url: "/api/games",
                    dataSrc: function (json) {
                        var return_data = new Array();
                        for (var i = 1; i < json.length; i++) {
                            return_data.push({
                                'myProperty1': json[i].myProperty1,
                                'myProperty2': json[i].myProperty2,
                                'myProperty3': json[i].myProperty3,
                                'myProperty6': json[i].myProperty6,
                                'myProperty7': json[i].myProperty7
                            })
                        }
                        return return_data;
                    }
                },
                columns: [
                    {
                        data: "myProperty1"
                        //render: function (data, type, customer) {
                        //    return "<a href='/customers/edit/" + customer.id + "'>" + data + "</a>";
                        //}
                    },
                    {
                        data: "myProperty2"
                    },
                    {
                        data: "myProperty3"
                    },
                    {
                        data: "myProperty6"
                    },
                    {
                        data: "myProperty7"
                        //render: function (data, type, customer) {
                        //    return "<div class='text-center'>" +
                        //        "<button data-customer-name='" + customer.name +
                        //        "'data-customer-id='" + data +
                        //        "'class='btn btn-link jq-delete' type='button' >delete</button>" + "</div>"
                        //}
                    }
                ]
            });
        });

    </script>

}

