@{
    ViewBag.Title = "Splash Screen";
}
<div class="hero-background">
    <div class="hero-text">
        <h2>FluffyToyCoy</h2>
        <div class="splash-screen-menu">
                <ul>
                    <li><a class="disabled-link" href="~/Home/About">Home Planet</a></li>
                    <li><a class="disabled-link" href="~/Home/About">The Mission </a></li>
                    <li><a class="disabled-link" href="~/Home/About">Contact </a></li>
                </ul>
        </div>
    </div>
</div>
@section  scripts{
<script>
        $(document).ready(function () {
            $("body").addClass("splash-screen");
            $("html").addClass("splash-screen");
            $("#body-render").removeClass("container body-content").addClass("splash-screen");
            $("footer").hide();

            setTimeout(function () {
                $("a").removeClass("disabled-link").addClass("splash-links");
            }, 3000);
          
        });

</script>
}