@model FTCweb.ViewModels.GameListViewModel
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<style>
    .btn-center {
        position: center;
    }
</style>


<section>
        <div class="jumbotron">
            <div class="display-4">Main Page Test</div>
            <p class="text-muted">Just testing out bootstrap 4 with this page</p>
            <div class="row justify-content-around">
                <a href="#" class="btn btn-primary col-5 col-md-3">Button 1</a>
                <a href="#" class="btn btn-secondary col-5 col-md-3">Button 2</a>
            </div>
        </div>
</section>
<section>
    <div class="container">

        <div class="row">



            <div class="col-8">
                <h1>Welcome Message</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat tincidunt ex nec rutrum. Integer lobortis nibh diam, eget dapibus lorem gravida ac. Class aptent taciti sociosqu ad litora torquent.</p>
                <p>Vestibulum pharetra lorem sit amet mauris vulputate rutrum. Phasellus vitae sapien a erat luctus condimentum at in nisi. Nam aliquet ornare auctor. Mauris.</p>
                <p>Class aptent taciti sociosqu ad litora torquent. Phasellus vitae sapien consectetur adipiscing elit.</p>
            </div>




            <div class="col-4">
                <p>
                    Random Snes Cover
                    <img style="width: 100%" src="~/Content/img/SnesCover/2020 Super Baseball (USA).png" />
                </p><p>
                    Random Snes Cover
                    <img style="width: 100%" src="~/Content/img/SnesCover/Darius Twin (USA).png" />
                </p>
            </div>



            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img src="~/Content/img/hero-background.gif" class="card-img-top" />
                        <div class="card-body">
                            <h6 class="card-title">Space</h6>
                            <p class="card-text">The intro background</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-4">
                    <div class="card">
                        <img src="~/Content/img/hero-background.gif" class="card-img-top" />
                        <div class="card-body">
                            <h6 class="card-title">Space</h6>
                            <p class="card-text">The intro background</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-4">
                    <div class="card">
                        <img src="~/Content/img/hero-background.gif" class="card-img-top" />
                        <div class="card-body">
                            <h6 class="card-title">Space</h6>
                            <p class="card-text">The intro background</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


